[run]
branch = False
source = clld

[paths]
source =
    src/clld
    .tox/*/lib/python*/site-packages/clld

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
show_missing = True

