development.ini
*.py[cod]
*.komodoproject
*/static/download
.cache

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
_build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
.webassets-*
.eggs

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
/htmlcov/
.jscoverage
.tox
nosetests.xml
coverage.txt
yolk.txt

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea

/clld/tests/dbschema.sql
.pytest_cache/
